body {
	font-family: 'Roboto Condensed', sans-serif;

}

.header {
	background-color: #f0f0f0;
	padding: 5px;
	margin-top: 10px;
}

.footer{
	background-color: #f0f0f0;
	padding: 10px;
	margin-top: 30px;
}
h2 {
	margin-left: 10px;

}

.collapse1 {
	background-color: #f6f6f6;
	padding: 10px;
margin: 0 auto;
	margin-top: 20px;
	    border-radius: 15px;

}
.notice {
	background-color: #ddebf6;

}

.notice1 {
	background-color: #edddf6;

}

.notice2 {
	background-color: #eaf1dd;

}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	border-bottom: 2px solid #1980bb;
	color: grey;
}

.arrow {
	color: #c3c4c5;
}

.arrow:hover {
	color: black;
}

.image {
	width:100%;
}
@media only screen and (min-width: 1800px) {
	.image {
		width:60%;
	}
}
