body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.container-one {
  background-color: #f0ebf4;
  color: dark grey;
    padding: 20px;
}
.container-two {
  background-color: #d7c9e3;
  color: dark grey;
    padding: 0px;
}
.blog-one {
  margin: 0 auto;
  width: 60%;

}
.blog-two {
  margin: 0 auto;
  width: 60%;
}
.blog-thumbs {
  margin: 0px;
  width: 250px;
  height: 250px;
  display: inline;
}
.thumbnail1 {
  filter: grayscale(100%);
  object-fit: cover;
  width: 250px;
  height: 250px;
  padding: 10px;
margin-bottom: 30px;

}
.thumbnail1:hover {
  filter: grayscale(0%);

}

.arrow1 {
  padding-top: 150px;
  color: white;

    -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;

}


.arrow2 {

    -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
padding-top: 150px;
padding-left: 60px;
color: white;

}

.arrow1:hover, .arrow2:hover {
  color: #B39BC8;
}
button1 {
  font-family: 'Roboto Condensed', sans-serif;

  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  background-color: #B39BC8;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border: 2px solid #B39BC8;

    }

button1:hover {
  background-color: #d7c9e3;

  border: 2px solid #B39BC8;
  color: #49274a;

}

.thumbnail2 {
  filter: grayscale(100%);
  object-fit: cover;

  width: 250px;
  height: 300px;
  padding: 0px;
left: 0;
margin-left: 0px;
margin-bottom: 0px;

}

.thumbnail2:hover {
  filter: grayscale(0%);
}

header {
  background-color: #B39BC8;
  padding: 60px;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
font-size:  	2.3em;
}
.detail {
  font-size: 0.9em;
text-transform: uppercase; }

.other {
  font-family: 'Roboto Condensed', sans-serif;
font-size:  	2em;
text-align: center;
}
.logo1 {
  float: left;
  width: 100px;
  border-radius:  60%;
}

.navi {
  width: 100%;
}

.navigation {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 1.5em;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation a:hover {
  color: #8c6ca7;
  text-decoration: none;

  border-bottom: 4px dotted #8c6ca7;
}

.navigation li {
  display: inline;
  margin: 40px;
}
footer {
  background-color: #B39BC8;
    padding: 30px;
  text-align: center;
  font-size: 0.8em;
}
