body {
	background-color: #fff;

}

.jumbotron {
	background-color: #ba6e7d;
}

.navbar {
	background-color: #a84a5c;
	color: white;

}
.navbar-nav {
	float: right;
	color: white;
}

.page-header {
	border: 0px;
}

.input-group {
	width: 50%;
}

.social {
	float: left;
	margin-top: 5px;
}
.sr-only {
	color: white;
}
#icon-bar {
	color:white;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: #fff;
    color: #a84a5c;
}
.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > a{
    color: #c39ca3;
}
